*,
::after,
::before{
    padding: 0;
    margin: 0;
    /*清除ios默认的点击时产生的高亮区块   rgba(0,0,0,0)*/
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color:transparent;
    /*定义盒子模型定义的宽度从边框计算*/
    -webkit-box-sizing: border-box;

}

body{
    font-family: "Microsoft YaHei" , "sans-serif";
    font-size: 14px;
    line-height: 1;
    color: #333;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
A:active {
    text-decoration: none;
}
input,textarea{
    border:0;
    outline: none;
    resize: none;
/*
    /!*清楚ios浏览器默认的样式*!/
    -webkit-appearance: none;*/
}

img{
    vertical-align: middle;/*清除3px的bug*/
    border: 0;
}

.clearfix::after,
.clearfix::before{
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
}

/*头部*/
body{
    width: 10rem;
    margin:0 auto;
    position: relative;
    background-color: #f2f2f2;

}

header h1{
    height: 1.07rem;
    width: 10rem;
    line-height: 1.07rem;
    font-size: 0.46rem;
    text-align: center;
    margin: 0;
    background-color: #f8f8f8;
}



/*轮播图*/
.img_gallery{
    width: 10rem;
    height: 4.8rem;
    position:relative;
    overflow: hidden;
}
.img_gallery .main_img{
    width: 10rem;
    height: 4.8rem;
    position:relative;
}
.img_gallery .main_img ul{
    height: 4.8rem;
}
.img_gallery .main_img li{
    float:left;
    width: 10rem;
    height: 4.8rem;
}
.img_gallery .main_img li img{
    width: 10rem;
    height: 4.8rem;
}


div.point{
    position:absolute;
    bottom: 0.4rem;;
    left:38%;
    z-index:999;
    height: 0.27rem;

}
div.point a{
    float:left;
    width: 0.26rem;
    height: 0.26rem;
    padding:0;
    margin-left: 0.24rem;
    border-radius: 0.26rem;;
    background-color: #FFFFFF;
    display:block;
    text-indent:-1000px
}
div.point a.on{
    background-color: #F57D02;
}

/*底部*/
.footer{
    position: fixed;
    bottom: 0;
    width: 10rem;
    height: 1rem;
    background-color: #f2f2f2;
    line-height: 1rem;
    text-align: center;
    font-size: 0.3rem;
}



