<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首门户官网</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/index.css"/>

</head>
<body>
<header>
    <h1>吉首服务</h1>
</header>
<!--手机触摸滑动轮播图-->
<div class="img_gallery">
    <div class="point">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
    <div class="main_img">
        <ul>
            <li><a href="#"><img src="../images/banner1.jpg" alt=""/></a></li>
            <li><a href="#"><img src="../images/banner2.jpg" alt=""/></a></li>
            <li><a href="#"><img src="../images/banner3.jpg" alt=""/></a></li>
        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
    </div>
</div>


<div class="enter clearfix">
   <div class="enter-box enter-left"> <a href="complaint.html"><img src="../images/fuwu1.jpg" alt="背景图"/> <p class="word-bg"></p> <p class="word">投诉建议</p></a></div>
   <div class="enter-box enter-right"><a href="#"><img src="../images/fuwu2.jpg" alt="背景图"/> <p class="word-bg"></p> <p class="word">天气</p></a></div>
   <div class="enter-box enter-left"> <a href="#"><img src="../images/fuwu3.jpg" alt="背景图"/> <p class="word-bg"></p> <p class="word">飞机票</p></a></div>
   <div class="enter-box enter-right"><a href="#"><img src="../images/fuwu4.jpg" alt="背景图"/> <p class="word-bg"></p> <p class="word">火车票</p></a></div>
</div>


<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery.event.drag.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery.touchSlider.js"></script>
<script src="../js/base.js"></script>
<script src="../js/index.js"></script>
</body>
</html>