<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首门户官网-游记列表</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/route.css"/>

</head>
<body>
<header>
    <h1>游记列表</h1>
</header>
<!--手机触摸滑动轮播图-->
<div class="img_gallery">
    <div class="point">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
    <div class="main_img">
        <ul>
            <li><a href="#"><img src="../images/banner1.jpg" alt=""/></a></li>
            <li><a href="#"><img src="../images/banner2.jpg" alt=""/></a></li>
            <li><a href="#"><img src="../images/banner3.jpg" alt=""/></a></li>
        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
    </div>
</div>


<div class="travels route">

    <div class="travels-box route-box  clearfix">
        <a href="travels-more1.html">
        <div class="travels-boxt-title">
            <!--吉首，呦呦鼓鸣，潺潺溪流-->
            锵锵吉首行


        </div>
        <div class="travels-boxt-body clearfix">
            <!--限制字数多余的省略号-->
            <p class="pull-left">整个旅游过程和闺蜜玩的很开心，不仅仅是见到了自然美景，感受到了山水之间的豁然开朗，一路上羊掌柜贴心的服务让我们整个旅程都十分舒心，让我一下子就喜欢这种最近正流行的掌柜式旅行。真的是太爽了，我们简直就像女王出巡，只需要顾着美丽优雅，还有掌柜一路护送。</p>
            <img class="pull-right" src="../images/travels4.jpg" alt="游记图"/>
        </div>
        <div class="travels-boxt-footer">
            <div class="footer-user pull-left">
                <img src="../images/travels5.jpg" alt=""/>
                <span>古城过客</span>
            </div>
            <div class="footer-comment pull-left">
                <span class="radius"></span>
                <span class="footer-word">1888条评论</span>
            </div>
            <div class="footer-time pull-left">
                <span class="radius"></span>
                <span class="footer-word">发表于2017-10-28</span>
            </div>
        </div>
        </a>
    </div>
    <div class="travels-box route-box  clearfix">
        <a href="travels-more1.html">
        <div class="travels-boxt-title">
            <!--吉首，呦呦鼓鸣，潺潺溪流-->
            锵锵吉首行


        </div>
        <div class="travels-boxt-body clearfix">
            <!--限制字数多余的省略号-->
            <p class="pull-left">整个旅游过程和闺蜜玩的很开心，不仅仅是见到了自然美景，感受到了山水之间的豁然开朗，一路上羊掌柜贴心的服务让我们整个旅程都十分舒心，让我一下子就喜欢这种最近正流行的掌柜式旅行。真的是太爽了，我们简直就像女王出巡，只需要顾着美丽优雅，还有掌柜一路护送。</p>
            <img class="pull-right" src="../images/travels1.jpg" alt="游记图"/>
        </div>
        <div class="travels-boxt-footer">
            <div class="footer-user pull-left">
                <img src="../images/travels2.jpg" alt=""/>
                <span>古城过客</span>
            </div>
            <div class="footer-comment pull-left">
                <span class="radius"></span>
                <span class="footer-word">1888条评论</span>
            </div>
            <div class="footer-time pull-left">
                <span class="radius"></span>
                <span class="footer-word">发表于2017-10-28</span>
            </div>


        </div>


     </a>
    </div>
    <div class="travels-box route-box  clearfix">
        <a href="travels-more1.html">
        <div class="travels-boxt-title">
            <!--吉首，呦呦鼓鸣，潺潺溪流-->
            锵锵吉首行


        </div>
        <div class="travels-boxt-body clearfix">
            <!--限制字数多余的省略号-->
            <p class="pull-left">整个旅游过程和闺蜜玩的很开心，不仅仅是见到了自然美景，感受到了山水之间的豁然开朗，一路上羊掌柜贴心的服务让我们整个旅程都十分舒心，让我一下子就喜欢这种最近正流行的掌柜式旅行。真的是太爽了，我们简直就像女王出巡，只需要顾着美丽优雅，还有掌柜一路护送。</p>
            <img class="pull-right" src="../images/travels1.jpg" alt="游记图"/>
        </div>
        <div class="travels-boxt-footer">
            <div class="footer-user pull-left">
                <img src="../images/travels2.jpg" alt=""/>
                <span>古城过客</span>
            </div>
            <div class="footer-comment pull-left">
                <span class="radius"></span>
                <span class="footer-word">1888条评论</span>
            </div>
            <div class="footer-time pull-left">
                <span class="radius"></span>
                <span class="footer-word">发表于2017-10-28</span>
            </div>


        </div>


     </a>
    </div>


</div>


<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery.event.drag.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery.touchSlider.js"></script>
<script src="../js/base.js"></script>
<script src="../js/index.js"></script>
</body>
</html>