<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首门户官网-游记</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/survey.css"/>

</head>
<body>
<header>
    <h1>游记</h1>
</header>
<!--手机触摸滑动轮播图-->
<div class="survey">
    <div class="survey-box">
        <h4 class="travels-title">游记详情</h4>

        <p class="word">矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一——长沙至重庆通道湖南段吉（首）茶（峒）高速公路中的重点工程。工程为双层公路、观光通道两用桥梁，四车道高速公路特大桥。桥型方案为钢桁加劲梁单跨悬索桥，全长1073.65m，悬索桥的主跨为1176m，创造了四项世界第一，极大地改善湘渝两省市的交通现状，对两省市乃至中西部的对接具有极其重要的意义。</p>
        <img class="gu" src="../images/survey5.jpg" alt=""/>
        <p class="word">矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一——长沙至重庆通道湖南段吉（首）茶（峒）高速公路中的重点工程。工程为双层公路、观光通道两用桥梁，四车道高速公路特大桥。桥型方案为钢桁加劲梁单跨悬索桥，全长1073.65m，悬索桥的主跨为1176m，创造了四项世界第一，极大地改善湘渝两省市的交通现状，对两省市乃至中西部的对接具有极其重要的意义。</p>
        <img class="gu" src="../images/survey5.jpg" alt=""/>

    </div>



</div>

<div class="picture">
    相册


</div>













<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>